### Importing libraries and creating database

In [10]:
import pandas as pd
import sqlite3 
import os

In [12]:
conn = sqlite3.connect('brEcommerce.db')
df = pd.read_csv(r"olist_customers_dataset.csv")
df.to_sql('customers', con = conn, if_exists = 'replace', index=False)

files_load = {
    'geolocation': 'olist_geolocation_dataset.csv',
    "order_items": "olist_order_items_dataset.csv",
    "order_payments": "olist_order_payments_dataset.csv",
    "orders": "olist_orders_dataset.csv",
    "products": "olist_products_dataset.csv",
    "sellers": "olist_sellers_dataset.csv",
    "product_category": "product_category_name_translation.csv" 
}

for table_n, csv_f in files_load.items():
    try:
        df = pd.read_csv(csv_f)
        df.to_sql(table_n,con = conn, if_exists = 'replace', index=False) 
    except Exception as e:
        print(f"Error {csv_f}: {e}")

conn.close()

### Joing tables

In [19]:
conn = sqlite3.connect('brEcommerce.db')
query = """
SELECT 
    p.product_category_name,
    SUM(oi.price) as total_revenue
FROM order_items oi 
JOIN products p ON oi.product_id = p.product_id 
GROUP BY product_category_name
ORDER BY total_revenue DESC
LIMIT 5;
"""

df_result = pd.read_sql(query, conn)
display(df_result) if 'ipykernel' in str(get_ipython()) else print(df_result)
conn.close()

    product_category_name  total_revenue
0            beleza_saude     1258681.34
1      relogios_presentes     1205005.68
2         cama_mesa_banho     1036988.68
3           esporte_lazer      988048.97
4  informatica_acessorios      911954.32